extends layout

block content
  h1= title
  p.
    This simple project uses Node, Express, MongoDB, Jade and Monk.

  p
    |  This project is based on this online tutorial from Christopher Buecheler
    |  <a href="http://cwbuecheler.com/web/tutorials/2013/node-express-mongo/"> Link </a>

  p
    |  To launch the app, please click on the button below

  a(href='/allusers')
    button Launch Contact App
